<%= form_with(model: [ @course, @course.baskets.build ], local: true) do |form| %>

<% if @basket && @basket.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@basket.errors.count, "error") %> prohibited
      this basket from being saved:
    </h2>
    <ul>
      <% @basket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p>
    <%= form.label :basket_number %><br>
    <%= form.text_field :basket_number %>
  </p>
  <p>
    <%= form.label :par %><br>
    <%= form.text_field :par %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
