<%= form_with(model: [ @course, @course.baskets.build ], local: true) do |form| %>

 <%= render partial: "shared/errors", locals: {object: @basket} %>

  <p>
    <%= form.label :basket_number %><br>
    <%= form.text_field :basket_number %>
  </p>
  <p>
    <%= form.label :par %><br>
    <%= form.text_field :par %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
