<h2>Visits For <%= current_disc_golfer.name %></h2>
<ul>
  <% @visits.each do |visit| %>
    <li>
      <strong>Day Visited:</strong>
      <%= visit.day_visited %><br/>
      <%= visit.course.name %>
      <br>
      Location: <%= visit.course.location %></br></br>

      <%= link_to 'Destroy Visit', course_visit_path(@course, visit),
               method: :delete,
               data: { confirm: 'Are you sure?!' } %></br></br>

      <%= link_to 'Back', courses_path %></br></br>
  <% end %>
    </li>
</ul>


