<h1>Edit Course</h1>

<%= form_with(model: @course, local: true) do |form| %>

 <%= render partial: "shared/errors", locals: {object: @course} %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', course_path(@course) %>
