<h2>All Disc Golf Courses</h2>
<h3>Click on a course to see the layout, edit the layout/course, or log a visit to the course</h3>

<div class="courses">
  <%= render 'courses/courses' %>
</div>

<h3>Create a new course!</h3>
<%= form_for Course.new, url: courses_path do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.submit "Create Course", id: "course_submit", data: { disable_with: false } %>
  </p>
<% end %>
<br/>
<br/>
<h3><%= link_to 'Edit Account', edit_disc_golfer_registration_path %></h3>

<h3><%= link_to "Sign Out", destroy_disc_golfer_session_path, method: :delete %></h3>
